@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #e7f8f8; */
    /* height: 100%; */
    color: white;
}

body, html {
    height: 100%;
}


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* .app {
    height: 100%;
    vertical-align: middle;
    margin:auto;
} */

.centered {
    /* margin: 3rem auto; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.centered_noflex {
    text-align: center;
    justify-content: center;
    align-items: center;
}


.background {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("./assets/sky.png"); */
}


/* .background img {
    width: 100%;
    object-fit: cover;
} */
